[submodule "lib/VulkanMemoryAllocator-Hpp"]
	path = lib/VulkanMemoryAllocator-Hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp.git
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "lib/ImGuiFileDialog"]
	path = lib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
